/* =============================
   google font and common styles
   ============================= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.banner-img1 {
  background-image: url("images/banner-1.png");
}
.banner-img2 {
  background-image: url("images/banner-2.png");
}
.banner-img3 {
  background-image: url("images/banner-3.png");
}
